<html>
    <body>
        <h2>Your artist has been added!</h2>
        <br>
        <p>Would you like to add another, view or go back to the homepage?</p>
        <br>
        <a href='/artists/new'>Add another album</a>
        <br>
        <a href='/artists'>View all albums</a>
        <br>
        <a href='/'>Go back to homepage</a>
    </body>
</html>
