<html>
  <head></head>
  <body>
    <h1>Artists</h1>

    <div>
      Name: <%=@artist.name%>
      <br>
      Genre: <%=@artist.genre%>
    </div>
    <br>
    <p>Would you like to view another, add an artist or go back to the homepage?</p>
    <br>
    <a href='/artists'>View all artists</a>
    <br>
    <a href='/artists/new'>Add an artist</a>
    <br>
    <br>
    <a href='/'>Go back to homepage</a>
  </body>
</html>
file.write "\n"
