<html>
    <body>
        <h2>Welcome to the music library</h2>
        <br>
        <p>Would you like to go to artists or albums?</p>
        <br>
        <a href='/albums'>Albums</a>
        <br>
        <a href='/artists'>Artists</a>
    </body>
</html>