<!-- GET /albums/new -->
<html>
  <head></head>
  <body>
      <h1>Add a new album</h1>
        <form action="/albums" method="POST">
        
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>

        <br>

        <label for="release_year">Release_year:</label><br>
        <input type="text" name="release_year"><br>

        <br>

        <input type="submit" value="Submit the form">
        </form>

    </body>
</html>
