<!-- GET /artists/new -->
<html>
  <head></head>
  <body>
      <h1>Add a new artist</h1>
        <form action="/artists" method="POST">
        
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <br>

        <label for="genre">Genre:</label><br>
        <input type="text" name="genre"><br>

        <br>

        <input type="submit" value="Submit the form">
        </form>

    </body>
</html>

